/*
AVAILABLE FONTS :
[FONTS] :: fontName: [object Font] Arial
*/

.sampleStyle{
	font-family: Arial;
	font-size: 12pt;
	color: #000000;
	mrm_autoSize: true;
	mrm_multiline: false;
	mrm_wordWrap: false;
	text-align: center;
	mrm_gridFitType: "pixel";
	verticalAlign: true;
}